<div class="container">
    <button asp-controller="Produtos" asp-action="Index"></button>
    @*<button asp-controller="Produtos" asp-action="Delete"></button>
    <button asp-controller="Produtos" asp-action="Details"></button>
    <button asp-controller="Produtos" asp-action="Create"></button>
    <button asp-controller="Produtos" asp-action="Create"></button>*@
</div>