@model IEnumerable<Office.Models.Produto>

@{
    Layout = "_HeaderFooter";
    ViewData["Title"] = "Carrinho | Office Street";

    int i = 0;
}

<div class="title">
    <h1>Meus pedidos</h1>
</div>

<div class="content">
    @if (Model.Count() == 0 || Model == null)
    {
        <h2>Voce não realizou nenhuma reserva :(</h2>
    }
    else
    {
        <div class="col-md-12">
            <table class="table table-striped table-dark table-hover table-responsive-sm table-responsive-lg">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Produto</th>
                        <th>Marca</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;

                        <tr class="items">
                            <td>
                                @i
                            </td>
                            <td>
                                @item.Nome
                            </td>
                            <td>
                                @item.Marca
                            </td>
                            <td>
                                @item.Descricao
                            </td>
                            <td>
                                R$ @item.Valor
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function ExcluirPedido(item) {
            swal({
                title: "Tem certeza que deseja cancelar a reserva?",
                text: "Essa ação não poderá ser desfeita!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.get("/Pedidos/ExcluirPedido", { item }, function () { });
                        swal("Sua reserva foi cancelada!", {
                            icon: "success",
                        });
                    } else {
                        swal("Sua reserva está segura!");
                    }
                });
        }
    </script>
}

@section Styles {
    <link href="~/Pedidos/css/main.css" rel="stylesheet" />
}