.header-middle #logo img {
    width: 100px;
}
.logo-overlay {
    background: black;
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    -webkit-transition: height 500ms ease 0s;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
}