main.container-fluid .title {
    text-align: center;
    margin-top: .8rem;
    background: rgba(0, 0, 0, 0.7);
}

main.container-fluid .content {
    text-align: center;
    margin-top: 2rem;
}

.content .content-title {
    color: white;
}