main {
    padding: inherit;
    margin: inherit;
}

main .container-content {
    background: rgba(0,0,0, 0.4);
    box-shadow: 0 0 1em black;
}

.container-content {
    display: grid;
    grid-template-areas: 'foto informacoes-perfil';
}

.container-perfil .foto {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.container-perfil .informacoes-perfil dt, dd {
    color: rgba(255, 255, 255,  1);
}

.container-perfil .foto .container-foto {
    width: 20rem;
    max-width: 23rem;
}

.container-perfil .foto .container-foto img.img-fluid {
    width: inherit;
    height: inherit;
}

.container-perfil {
    margin-left: 3rem;
}

.container-perfil dt {
    margin-bottom: 5px;
}

form {
    text-align: center;
}

form .btn-logout {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

@media(max-width: 720px){
    .container-perfil .title {
        text-align: center;
    }

    .container-content {
        display: grid;
        grid-template-areas: 'foto' 'informacoes-perfil';
    }

    .container-content input {
        margin-bottom: .5rem;
    }

    .container-perfil .foto .container-foto {
        width: 8rem;
        max-width: 10rem;
    }

    .container-perfil dt {
        margin-bottom: 2px;
    }

    .container-perfil {
        margin-left: 0;
        text-align: center;
    }
}