@model Office.Models.UserLoginModel

@{
    Layout = "_HeaderFooter";
    ViewData["Title"] = ViewBag.mensagem;
}


<div class="container">
    <h2>Faça seu login</h2>
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Email" class="control-label"></label>*@
                    <input asp-for="Email" placeholder="E-mail" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Senha" class="control-label"></label>*@
                    <input asp-for="Senha" placeholder="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="col-md-3 btn btn-danger btn-login" />
                    <br />
                    @Html.ActionLink("Não possui uma conta? Cadastre-se", "Register", "Account", null, null, null, null, new { @class = "col-md-7" })
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Account/css/login.css" rel="stylesheet" />
}