.carousel-inner .carousel-item {
    height: 65vh;
}

.carousel-inner .carousel-item img.imgSlide {
    width: 100%;
    height: 100%;
}

.botao-visualizar {
    background-color: black; 
    color: white;
}

.botao-visualizar:hover {
    font-weight: 500;
    color: whitesmoke;
}