<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
            <a class="nav-link active">DashBoard</a>
        </li>

        <li class="nav-item has-treeview menu-open">
            @Html.ActionLink("Calendário", "Calendario", "Admin", null, null, null, null, new { @class = "nav-link active" })
        </li>
        <li class="nav-item">
            <a class="nav-link active">E-mail</a>
        </li>
        <li class="nav-item">
            @Html.ActionLink("Categorias", "Index", "Categorias", null, null, null, null, new { @class = "nav-link active" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Produtos", "Index", "Produtos", null, null, null, null, new { @class = "nav-link active" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Cadastro de Usuários", "Register", "Admin", null, null, null, null, new { @class = "nav-link active" })
        </li>
    </ul>
</nav>